<%= render "/shared/navbar" %>
<br>
<br>
<h1 class="new-user-page-text">Add A New Product</h1>
<br>
<br>
<%= render 'form', product: @product %>
<br>
<br>
<p class="new-user-page-text"><%= link_to 'Back', root_path, class:"btn btn-primary" %></p>
<br>
<br>