<%= render "shared/navbar" %>
<br>
    <h1 class="edit-user-page-text">Editing User Profile</h1>
<br>
<br>
    <%= render 'form', user_profile: @user_profile, address: @address %>
<br>
<br>
<p class="new-user-page-text"><%= link_to 'Back', user_profile_path(current_user.id), class:"btn btn-primary" %></p>
<br>
<br>